@media (max-width: $desktop) {
    body {
        height: 100%;
        width: 100%;
        .nav {
            display: none;
            .nav__icon {
                display: block;
                position: absolute;
                top: 1%;
                color: black;
            }
        }
        .index__container {
            .index__title {
                position: absolute;
                top: 8%;
                left: 10%;
                width: 80%;
                font-size: 5rem;
                color: rgb(61, 61, 61);
            }
            p {
                top: 25%;
                left: 10%;
                width: 80%;
                color: rgb(56, 56, 56);
                text-align: center;
                font-size: 1.3rem;
            }
            .index__container--bg {
                display: none;
            }
            .index__img {
                position: fixed;
                top: 0;
                height: 100%;
                width: 150%;
                object-fit: cover;
            }
        }
        .services__container {
            .services__title {
                font-size: 26px;
                margin: 30px auto;
                width: 130%;
            }
            .imgs-container {
                display: block;
                position: absolute;
                left: 25px;
                align-items: center;
                .image {
                    margin: 50px auto;
                    overflow: fixed;
                }
            }
            .rrss {
                display: none;
            }
        }
        .about__container {
            overflow-y: scroll;
            scroll-behavior: auto;
            width: 285%;
            height: 3000px;
            margin: 100px 0 0 0;
            .about__title {
                font-size: 26px;
                margin: 10px;
            }
            .about_container--in {
                display: block;
                width: 90%;
                height: 60%;
                margin: 0 auto;
                .about_image {
                    width: 100%;
                    height: 800px;
                }
                .about_text {
                    font-size: 1.7rem;
                }
            }
            .rrss {
                position: absolute;
                bottom: -1500px;
            }
            .footer {
                position: absolute;
                bottom: 0;
            }
        }
        .product_container {
            display: block;
            position: absolute;
            left: 5px;
            display: block;
            width: 600px;
            .product_image {
                width: 100%;
            }
            .product_container-right {
                width: 100%;
                .product_title {
                    margin: 0 0 20px;
                }
                .product_text {
                    font-size: 26px;
                    text-align: center;
                }
            }
            .rrss {
                display: none;
            }
            .footer {
                display: none;
            }
        }
        .rrss {
            width: 80%;
            position: absolute;
            bottom: 8%;
            left: 10%;
            p {
                width: 100%;
                text-align: center;
                color: rgb(226, 226, 226);
                font-size: 1.3rem;
            }
            ul {
                padding: 0;
                .rrss__container {
                    margin: 0 auto;
                    li {
                        display: none;
                    }
                    .icon {
                        display: block;
                        font-size: 1.8rem;
                        color: $bg-grayBold;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 1%;
            left: 10%;
            width: 80%;
            text-align: center;
            color: rgba(99, 99, 99, 0.733);
            .footer__container {
                font-size: .5;
            }
        }
    }
}

@media (min-width: $desktop) and (max-width: $large) {
    body {
        .nav {
            a {
                font-size: 1rem;
                font-weight: 600;
            }
        }
        .index__container {
            height: 100vh;
            .index__title {
                position: absolute;
                top: 10px;
                width: 30%;
                font-size: 15rem;
                color: rgb(61, 61, 61);
            }
            p {
                width: 40%;
                top: 300px;
                right: 100px;
                font-size: 1.5rem;
            }
            .index__container--bg {
                display: none;
            }
            .index__img {
                position: absolute;
                top: 0;
                right: 0;
                width: 1400px;
                z-index: -99;
            }
        }
        .rrss {
            color: red;
            z-index: 99;
            position: absolute;
            bottom: 100px;
            left: 150px;
            p {
                color: $black;
                font-size: 1.5rem;
            }
            ul {
                .rrss__container {
                    li {
                        margin: 10px;
                        padding: 0 10px;
                        a {
                            text-decoration: none;
                            letter-spacing: .4rem;
                            color: rgb(73, 73, 73);
                            font-weight: bold;
                        }
                    }
                    .icon {
                        // display: none;
                    }
                    li:hover {
                        background: $bg-grayBold;
                        transition: 1;
                    }
                }
            }
        }
        .services__container {
            .services__title {
                margin: 10px 0 0;
                font-size: 2rem;
            }
            .imgs-container {
                margin: 40px auto;
                .image {
                    width: 300px;
                    height: 300px;
                    border-radius: 10px;
                }
            }
        }
        .about__container {
            margin: 10px 0 0 0;
            .about__title {
                font-size: 1.8rem;
                margin: 10px;
            }
            .about_container--in {
                width: 90%;
                height: 60%;
                .about_image {
                    height: 100%;
                }
                .about_text {
                    font-size: 1.2rem;
                }
            }
        }
        .rrss {
            position: absolute;
            bottom: 40px;
        }
        .product_container {
            width: 80%;
            margin: 50px auto;
            .product_image {
                width: 400px;
                height: 400px;
                border-radius: 10px;
            }
            .product_container-right {
                margin: 0 auto;
                .product_title {
                    font-size: 1.8rem;
                }
                .product_text {
                    font-size: 1.2rem;
                    margin: auto 80px;
                }
            }
        }
    }
}