@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// -----------
// variables
// -----------
$black: #3d3d3d;
$white: #d3d3d3;
$bg-gray: #fb9da64f;
$bg-grayBold: #fb9da6;
$f-zilla: 'Zilla Slab Highlight',
cursive;
$f-lobster: 'Lobster',
cursive;
$cel: 300px;
$tablet: 600px;
$desktop: 900px;
$large: 1324px;