    @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    // variables
    $black: #3d3d3d;
    $white: #d3d3d3;
    $bg-gray: #fb9da64f;
    $bg-grayBold: #fb9da6;
    $f-zilla: 'Zilla Slab Highlight',
    cursive;
    $f-lobster: 'Lobster',
    cursive;
    $cel: 300px;
    $tablet: 600px;
    body {
        background: $bg-gray;
        color: $black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 50px;
        text-transform: uppercase;
        height: 50px;
        a {
            padding: 10px 20px;
            color: $black;
            text-decoration: none;
            transition: .3s all ease-in;
        }
        a:hover {
            background: #e29eaa;
            color: $white;
        }
        .nav__izq {
            ul {
                list-style: none;
                li {
                    display: inline;
                    padding: 0 50px;
                }
            }
        }
    }
    
    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -5;
        background: #dbdbdb;
    }
    
    .index__container {
        height: 100vh;
        .index__title {
            display: flex;
            justify-content: center;
            font-size: 20rem;
            margin: 0;
            position: absolute;
            top: 50px;
            left: 280px;
            filter: opacity(.8);
        }
        p {
            width: 700px;
            position: absolute;
            bottom: 300px;
            right: 250px;
            letter-spacing: .5rem;
            font-size: 3rem;
            font-weight: 700;
            font-family: $f-lobster;
        }
        .index__container--bg {
            width: 1400px;
            height: 800px;
            background: $bg-gray;
            position: absolute;
            top: 10%;
            right: 0;
            z-index: -98;
        }
        .index__img {
            position: absolute;
            top: 10%;
            right: 0;
            width: 1400px;
            z-index: -99;
        }
    }
    
    @media (min-width: $cel) and (max-width: $tablet) {
        body {
            overflow: scroll;
            height: 100%;
            width: 100%;
            .nav {
                display: none;
            }
            .index__container {
                .index__title {
                    position: absolute;
                    top: 100px;
                    width: 75%;
                    font-size: 15rem;
                    color: rgb(61, 61, 61);
                }
                p {
                    top: 550px;
                    right: -400px;
                    color: rgb(226, 226, 226);
                    text-align: center;
                }
                .index__container--bg {
                    display: none;
                    height: 1530px;
                    position: absolute;
                    top: 0;
                    right: -500px;
                }
                .index__img {
                    position: fixed;
                    top: 0;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .services__container {
                .services__title {
                    font-size: 26px;
                    margin: 30px auto;
                    width: 130%;
                }
                .imgs-container {
                    display: block;
                    position: absolute;
                    left: 25px;
                    align-items: center;
                    .image {
                        margin: 50px auto;
                        overflow: fixed;
                    }
                }
                .rrss {
                    display: none;
                }
            }
            .rrss {
                position: absolute;
                bottom: -600px;
                p {
                    width: 550px;
                    text-align: center;
                    color: rgb(226, 226, 226);
                }
                ul {
                    .rrss__container {
                        margin: 40px auto;
                        li {
                            display: none;
                        }
                        .icon {
                            display: block;
                            font-size: 5rem;
                            color: $bg-grayBold;
                        }
                    }
                }
            }
            .product_container {
                display: block;
                position: absolute;
                left: 5px;
                display: block;
                width: 600px;
                .product_image {
                    width: 100%;
                }
                .product_container-right {
                    width: 100%;
                    .product_title {
                        margin: 0 0 20px;
                    }
                    .product_text {
                        font-size: 26px;
                        text-align: center;
                    }
                }
                .rrss {
                    display: none;
                }
                .footer {
                    display: none;
                }
            }
            .footer {
                width: 800px;
                position: absolute;
                bottom: -800px;
                left: 30px;
                text-align: center;
                color: rgba(99, 99, 99, 0.733);
                .footer__container {
                    font-size: 30px;
                }
            }
        }
    }
    
    // @media (max-width: $tablet) {
    //     body {
    //         overflow: scroll;
    //         .nav {
    //             display: none;
    //         }
    //         .index__container {
    //             width: 100%;
    //             .index__title {
    //                 position: absolute;
    //                 top: 100px;
    //                 width: 55%;
    //                 font-size: 15rem;
    //             }
    //             p {
    //                 text-align: center;
    //                 top: 400px;
    //                 right: 100px;
    //             }
    //             .index__container--bg {
    //                 display: none;
    //             }
    //             .index__img {
    //                 position: fixed;
    //                 top: 0;
    //                 left: 0;
    //                 object-fit: cover;
    //             }
    //         }
    //         .rrss {
    //             position: absolute;
    //             top: 2000px;
    //         }
    //         .footer {
    //             position: absolute;
    //             top: 90%;
    //             left: 50px;
    //             .footer__container {
    //                 font-size: 20px;
    //             }
    //         }
    //     }
    // }
    .rrss {
        color: red;
        z-index: 99;
        position: absolute;
        bottom: 100px;
        left: 150px;
        p {
            color: $black;
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0;
        }
        ul {
            display: flex;
            list-style: none;
            .rrss__container {
                li {
                    margin: 10px;
                    padding: 0 30px;
                    a {
                        text-decoration: none;
                        letter-spacing: .8rem;
                        color: rgb(73, 73, 73);
                        font-weight: bold;
                    }
                }
                .icon {
                    display: none;
                }
                li:hover {
                    background: $bg-grayBold;
                    transition: 1;
                }
            }
        }
    }
    
    .about__container {
        height: 100vh;
        .about__title {
            display: flex;
            justify-content: center;
            margin: 80px 0 30px 0;
            font-size: 3rem;
        }
        .about_container--in {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin: 0 auto;
            padding: 10px;
            background: #f0f0f0;
            .about_text {
                font-size: 1.2rem;
                margin: auto 40px;
                a {
                    color: red;
                    text-decoration: none;
                }
            }
            .about_image {
                width: 500px;
                height: 500px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }
    
    .product_container {
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin: 10% auto;
        padding: 10px;
        background: #f0f0f0;
        .product_image {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 20px;
            margin: 10% auto;
        }
        .product_container-right {
            margin: 0 auto;
            .product_title {
                display: flex;
                justify-content: center;
                margin: 7% auto;
            }
            .product_text {
                font-size: 1.3rem;
                margin: auto 80px;
                a {
                    color: red;
                    text-decoration: none;
                }
            }
        }
    }
    
    .services__container {
        .services__title {
            display: flex;
            justify-content: center;
            margin: 80px 0 0;
            font-size: 3rem;
        }
        .imgs-container {
            display: flex;
            justify-content: space-around;
            gap: 16px;
            margin: 80px auto;
            .image {
                width: 450px;
                height: 450px;
                object-fit: cover;
                border-radius: 20px;
            }
            .image:hover {
                background: $bg-gray;
                h3 {
                    text-align: center;
                    color: $white;
                    font-size: 30px;
                    transform: scale(50px);
                }
                p {
                    display: block;
                    transition: 1s all ease-in;
                }
            }
        }
        .services__container--bg {
            width: 100%;
            height: 100%;
            background: $bg-gray;
            position: absolute;
            top: 0;
            z-index: -98;
        }
        .services__img {
            position: absolute;
            top: -300px;
            left: 0;
            width: 100%;
            z-index: -99;
        }
        .services__hero {
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin: auto;
            padding-top: 50px;
            transition: 1s all ease-in;
            .services__box {
                border-radius: 10px;
                height: 500px;
                width: 50%;
                margin: 10px;
                transition: .5s all ease-in;
                h3 {
                    text-align: center;
                    color: $black;
                    font-size: 30px;
                    transition: .5s all ease-in;
                }
                p {
                    display: none;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
        }
    }
    
    .tapa {
        z-index: -1000;
        background: red;
        height: 100vh;
    }
    
    .footer {
        position: absolute;
        height: 80px;
        width: 100%;
        bottom: -20px;
        margin: 0;
        padding: 0;
        .footer__container {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }