@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// variables
$black: #3d3d3d;
$white: #d3d3d3;
$bg-gray: #fb9da663;
$bg-grayBold: #fb9da6;
$f-zilla: 'Zilla Slab Highlight',
cursive;
$f-lobster: 'Lobster',
cursive;
body {
    background: $bg-gray;
    color: $black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -5;
    background: #dbdbdb;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
    text-transform: uppercase;
    height: 50px;
    a {
        padding: 10px 20px;
        color: $black;
        text-decoration: none;
        transition: .3s all ease-in;
    }
    a:hover {
        background: #e29eaa;
        color: $white;
    }
    .nav__izq {
        ul {
            list-style: none;
            li {
                display: inline;
                padding: 0 50px;
            }
        }
    }
}

.index__container {
    height: 100vh;
    .index__title {
        display: flex;
        justify-content: center;
        font-size: 25rem;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 280px;
        filter: opacity(.5);
    }
    p {
        width: 700px;
        position: absolute;
        bottom: 250px;
        right: 250px;
        letter-spacing: .5rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: $f-lobster;
    }
    .index__container--bg {
        width: 100%;
        height: 100%;
        background: $bg-gray;
        position: absolute;
        top: 0;
        z-index: -98;
    }
    .index__img {
        position: absolute;
        top: -300px;
        left: 0;
        width: 100%;
        z-index: -99;
    }
}

.rrss {
    color: red;
    z-index: 99;
    position: absolute;
    bottom: 100px;
    left: 150px;
    p {
        color: $black;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            margin: 10px;
            padding: 0 30px;
        }
        a {
            text-decoration: none;
            letter-spacing: .8rem;
            color: rgb(73, 73, 73);
            font-weight: bold;
        }
        li:hover {
            background: $bg-grayBold;
            transition: 1;
        }
    }
}

.about__container {
    height: 100vh;
    .about__title {
        display: flex;
        justify-content: center;
        margin: 80px 0 30px 0;
        font-size: 3rem;
    }
    .about_container--in {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        background: #f0f0f0;
        .about_text {
            font-size: 1.2rem;
            margin: auto 40px;
            a {
                color: red;
                text-decoration: none;
            }
        }
        .about_image {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}

.product_container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 10% auto;
    padding: 10px;
    background: #f0f0f0;
    .product_image {
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-radius: 20px;
        margin: 10% auto;
    }
    .product_container-right {
        margin: 0 auto;
        .product_title {
            display: flex;
            justify-content: center;
            margin: 7% auto;
        }
        .product_text {
            font-size: 1.3rem;
            margin: auto 80px;
            a {
                color: red;
                text-decoration: none;
            }
        }
    }
}

.services__container {
    .services__title {
        display: flex;
        justify-content: center;
        margin: 80px 0 0;
        font-size: 3rem;
    }
    .imgs-container {
        display: flex;
        justify-content: space-around;
        gap: 16px;
        margin: 80px auto;
        .image {
            width: 450px;
            height: 450px;
            object-fit: cover;
            border-radius: 20px;
        }
        .image:hover {
            background: $bg-gray;
            h3 {
                text-align: center;
                color: $white;
                font-size: 30px;
                transform: scale(50px);
            }
            p {
                display: block;
                transition: 1s all ease-in;
            }
        }
    }
    .services__container--bg {
        width: 100%;
        height: 100%;
        background: $bg-gray;
        position: absolute;
        top: 0;
        z-index: -98;
    }
    .services__img {
        position: absolute;
        top: -300px;
        left: 0;
        width: 100%;
        z-index: -99;
    }
    .services__hero {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        padding-top: 50px;
        transition: 1s all ease-in;
        .services__box {
            border-radius: 10px;
            height: 500px;
            width: 50%;
            margin: 10px;
            transition: .5s all ease-in;
            h3 {
                text-align: center;
                color: $black;
                font-size: 30px;
                transition: .5s all ease-in;
            }
            p {
                display: none;
                font-family: 'Courier New', Courier, monospace;
            }
        }
    }
}

.tapa {
    z-index: -1000;
    background: red;
    height: 100vh;
}

.footer {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: -20px;
    margin: 0;
    padding: 0;
    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        a {
            color: orangered;
            text-decoration: none;
        }
    }
}